body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.headbg {
    height: 100vh;
    width: 100%;
    background-image: url(../images/header-\ 1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.709)),
    url("../images/header-\ 1.jpg");
    
}

.headbg a {
    text-decoration: none;
    color: white;
}

#navtext {
    background-color: transparent;
    border-radius: 4rem;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;

}
#navtext:hover{
    color: aquamarine;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;


}

#logo {
    color: white;
    font-size: 30px;
    font-weight: 300;

}


nav ul li {
    list-style-type: none;
    gap: 30px;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: aquamarine;
}

#button {
    border: 2px solid grey;
    background: transparent;
    margin: 15px 0;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 15px;
}

#button a {
    text-decoration: none;
    color: white;
}

.text {
    margin-left: 10%;
    margin-top: 12%;
    font-style: italic;
}

.text h1 {
    font-size: 85px;
    margin-bottom: 20px;
    color: white;
}

span {
    color: red;

}

.abt {
    margin-left: 10%;
    margin-top: 12%;
    display: flex;
    gap: 3rem;

}

.pic {
    display: flex;
    width: 50%;
    height: 80%;
    gap: 2rem;

}

.abt-text {
    width: 50%;
    font-size: 14pt;
}

#readtext{
    text-decoration: none;
    color: white;
    border-radius: 4rem;
    color: white;
    padding-bottom:0 ;
    padding-top:0;

}


.pic img {
    width: 45%;
}

h4 {
    color: rgba(255, 94, 0, 0.904);

}

h2 {
    font-size: 50px;
}

.abt-text button {
    background-color: rgba(255, 94, 0, 0.904);
    border: 2px solid rgba(255, 94, 0, 0.904);
}

.abt-text button:hover {
    background-color: rgba(211, 125, 75, 0.904);
    border: none;
}

.wws {
    margin-left: 10%;
    margin-top: 12%;
    /*display: flex;*/
   
}
.store{
    margin-top: 5%;
    gap: 3rem;
    display: flex;
  
}

.store img{
    display: block;
    width: 100%;
    height: 70%;
    gap: 2rem;
}

.wws img{
    display: flex;
    width: 250px; 
}
.store a{
    text-decoration: none;
    color: black;
}
.wws button{
    background-color: rgba(255, 94, 0, 0.904);
    border: none;
    color: white;
    margin-left: 37%;

}

.wws button:hover{
    background-color: rgba(211, 125, 75, 0.904);
    border: none;
}
#contactbtn{
    margin-left: 45%;
    font-weight: 600;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    color: red;
    
}
.wws-text{
    font-size: 14pt;
}
#storebtn{
    margin-top: 8%;
}